
<div style="text-align: center;"/>

<h1> Earn a badge! </h1>
<%@badges.each do |badge| %>
	<h3><%=link_to badge.name, badge_path(badge) %></h3>
<% end %>
<%= button_to "Create a new badge.", new_badge_path, method: :get %>

</div>