
<style type="text/css">

  body {
    background-image: url(https://images.pexels.com/photos/472311/pexels-photo-472311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }



	

</style>
<div style="text-align: center;"/>
<h2> TalkAboutIt Users </h2>
</div>
<div style="text-align: left;"/>
<ul>
    <% @users.each do |user| %>
      
       <li><%= link_to "#{user.user_name} - #{user.status}", user_path(user) %></li>
     
    <% end %>
</ul>
</div>