
<style type="text/css">

  body {
    background-image: url(https://images.pexels.com/photos/1764702/pexels-photo-1764702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }


	div {
		position: relative;
  		width: 89%;
  		height: 89%;
  		border: 25px solid orange;
  		padding: 25px;
  		margin: 25px;
	}

</style>



<div style="text-align: center;"/>
<h1><%= "Welcome to #{@user.user_name}'s page. "%></h1>
<h3>Bio: <%= @user.bio %></h3>
<h3>Location: <%= @user.location %></h3>
<h3> Their blogs </h3>

<ul>
    <% @user.posts.each do |post| %>
        <li><%=link_to "#{post.title} - #{post.content}", post_path(post) %></li>
    <% end %>
</ul>
</div>