<div style="text-align: center;"/>
<h1><%= "Welcome to #{@user.user_name}'s page. "%></h1>
<h3>Bio: <%= @user.bio %></h3>
<h3>Location: <%= @user.location %></h3>
<h3> Their blogs </h3>

<ul>
    <% @user.posts.each do |post| %>
        <li><%=link_to "#{post.title} - #{post.content}", post_path(post) %></li>
    <% end %>
</ul>
</div>