
<style type="text/css">

	body {
		background-image: url(https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	}

	div {
		position: relative;
  		width: 89%;
  		height: 89%;
  		border: 25px solid orange;
  		padding: 25px;
  		margin: 25px;
	}

</style>




<div style="text-align: center;"/>
<h1>Check your email for the verification code!</h1>
	<%= form_tag ('/verify') do %>
		<%= text_field_tag :input %><br>
		<%= submit_tag "Verify" %>
	<% end %>
</div>
