
<style type="text/css">
\
	body {
  		margin: 0;
  		padding: 0;
  		background: #333;
  		background-attachment: fixed;
  		background-size: cover;
	
    	width: 100px;
	}

	#video-background {
  		position: fixed;
  		right: 0; 
  		bottom: 0;
  		min-width: 100%; 
  		min-height: 100%;
  		width: auto; 
  		height: auto;
  		z-index: -100;
	}


	
    #layout {
    	font-style: italic;
    	color: white;
        position: fixed;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
	img{
	
    width: 100px;
	}

</style>


<video autoplay loop id="video-background" muted plays-inline>
  <source src="https://app.coverr.co/s3/mp4/Follow-the-Tree.mp4" type="video/mp4">
</video>

<div style="text-align: center;", id = "layout">
<%= image_tag  "Logo.png" %>
<h1 id="home_title">Welcome To TalkAboutIt</h1>
	<%= button_to "Create Account", new_user_path, method: :get %><br>
	<%= button_to "Login", signin_path, method: :get %>
</div>

<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
