
<style type="text/css">
	body {
		background-image: url(https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
		background-repeat: no-repeat;
		background-size: 100%, 100%;
	}



	
    #layout {
        position: fixed;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

</style>



<div style="text-align: center;", id = "layout">
<h1 id="home_title">Welcome To TalkAboutIt</h1>
	<%= button_to "Create Account", new_user_path, method: :get %><br>
	<%= button_to "Login", signin_path, method: :get %>
</div>