
<style type="text/css">
	body {
		background-image: url(https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
		background-repeat: no-repeat;
		background-size: 100%, 100%;
	}



	#home_title {
		
	}


</style>



<div style="text-align: center;"/>
<h1 id="home_title">Welcome To TalkAboutIt</h1>
	<%= button_to "Create Account", new_user_path, method: :get %>
	<%= button_to "Login", signin_path, method: :get %>
</div>