
<style type="text/css">
	body {
		background-image: url(http://eskipaper.com/images/free-background-4.jpg);
	}


	div {
		position: relative;
  		width: 89%;
  		height: 89%;
  		border: 25px solid orange;
  		padding: 25px;
  		margin: 25px;
	}

</style>



<div style="text-align: center;"/>
<h1>Welcome To Talk About It</h1>
	<%= button_to "Create Account", new_user_path, method: :get %>
	<%= button_to "Login", signin_path, method: :get %>
</div>