<<<<<<< HEAD
<div style="text-align: center;"/>
<h1>Recent Posts: </h1>
=======
<h1> TalkAboutIt! </h1>
>>>>>>> d1207acb82863e1739702b507820aa6d079df8ff
<%@posts.each do |post| %>
	<h3><%=link_to post.title, post_path(post) %></h3>
	<h4>Content: <%=post.content %></h4>
	<h4>Created By: <%=link_to post.user.user_name, user_path(post.user) %></h4>
<% end %>
</div>