
<style type="text/css">

	body {
		background-image: url(http://blog.hostbaby.com/wp-content/uploads/2014/03/PaintSquares_1400x900.jpg);
	}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	div {
		position: fixed;
  		width: 89%;
  		height: 95%;
  		border: 25px solid orange;
  		padding: 25px;
  		margin: 25px;
	}

</style>


<div style="text-align: center;"/>
<h1>Recent Posts: </h1>

<h1> TalkAboutIt! </h1>
<%@posts.each do |post| %>
	<div style= "border: 10px solid yellow;">
	<h3><%=link_to post.title, post_path(post) %></h3>
	<h4><%=post.content %></h4>
	<h4>Created By: <%=link_to post.user.user_name, user_path(post.user) %></h4>
	</div>
<% end %>
</div>