
<style type="text/css">
	div {
		position: relative;
  		width: 89%;
  		height: 89%;
  		border: 25px solid orange;
  		padding: 25px;
  		margin: 25px;
	}

</style>



<div style="text-align: center;"/>
<h1><%= @post.title%></h1>
<h3>Created by: <%= @post.user.user_name %></h3>
<p><%= @post.content %></p>
</div>