
#final
<style type="text/css">

	body {
		background-image: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	}


</style>



<div style="text-align: center;"/>
<h1>Edit Category: </h1>
<%= form_for :category do |c| %>
	Category Name: <%=c.text_field :name %></br>
	<%= c.submit "Edit Category" %>
<% end %>
</div>