
<style type="text/css">
	

	body {
		background-image: url(https://images.pexels.com/photos/1054222/pexels-photo-1054222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	}


</style>



<div style="text-align: center;"/>
<h1> TalkAboutIt Categories </h1>
<% @categories.each do |category| %>
	<h3><%=link_to category.name, category_path(category.id) %></h3>
<%end %>
<p><%= button_to 'New Category', "/categories/new", method: :get %></p>
</div>